.tabla-datos{
    color: white;
    text-align: center;
    margin: 0 auto;
    width: 50%; /* Ajusta el ancho del div según tus necesidades */
}

table{
    font-family: Arial, sans-serif;
}
th, td{
    border: 1px solid rgb(162, 208, 235); /* Cambia el color de las líneas a rojo (#ff0000) */
    padding: 8px;
}